{% extends "base.html" %}

{% block title %}
Create a Recipe -
{% endblock title %}

{% block nav %}
    <a id="anav" href="{% url 'recipe_list' %}">Main Page</a>
    <a id="anav" href="{% url 'create_recipe' %}">Create</a>
{% endblock nav %}

{% block content %}
    <div id="creategrid">
        <div id="createform">
            <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button> Create </button>
            </form>
        </div>
    </div>
{% endblock content %}
