{% extends "base.html" %}
{% load recipes_extras %}

{% block title %}
    {{ recipe_object.title }} -
{% endblock title %}

{% block nav %}
    <a id="anav" href="{% url 'recipe_list' %}">Main Page</a>
    {% for recipe in recipe_list %}
        <a id="anav" href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
    {% endfor %}
{% endblock nav %}

{% block content %}
    <h1>
        {{ recipe_object.title }}
    </h1>
    <div id="detail-page-recipe-grid">
        <div>
            <img id="detail-page-img" src="{{ recipe_object.picture }}" alt={{ recipe_object.title }}>
            <p id="detail-page-rating">
                Rating: {{ recipe_object.rating }} {{ recipe_object.rating|multiply:"★" }}
            </p>
            <p id="detail-page-description">
                {{ recipe_object.description }}
            </p>
            <p id="detail-page-prep">
                Prep time: {{recipe_object.prep_time}}
            </p>
        </div>
        <div>
            <h2 id="detail-page-ingredients">
                Ingredients
            </h2>
            <div id="detail-page-ingredients-table">
                <table >
                    <thead>
                        <tr>
                            <th>Amount</th>
                            <th>Food Item</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ingredient in recipe_object.Ingredients.all.reverse %}
                        <tr class="{% cycle "trstripe" "" %}">
                            <td>{{ ingredient.amount }}</td>
                            <td>{{ ingredient.food_item }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <h2 id="detail-page-steps">
                Steps
            </h2>
            <div id="detail-page-steps-list">
                <ol>
                    {% for step in recipe_object.Steps.all %}
                    <li>{{ step.instruction }}</li>
                    {% endfor %}
                </ol>
            </div>
            <div id="detail-page-edit-button">
                <a href="../{{recipe_object.id}}/edit/" class="button"> Edit </a>
            </div>
        </div>
    </div>
{% endblock content %}
