{% extends "base.html" %}

{% block title %}
Edit {{ recipes_to_edit.title }}
{% endblock title %}

{% block nav %}
    <a id="anav" href="{% url 'recipe_list' %}">Main Page</a>
    <a id="anav" href="../{{recipes_to_edit.id}}">{{ recipes_to_edit.title }}</a>
{% endblock nav %}

{% block content %}
    <div id="creategrid">
        <div id="createform">
            <form method="GET">
            {% csrf_token %}
            {{ form.as_p }}
            <button> Edit </button>
            </form>
        </div>
    </div>
{% endblock content %}
