{% extends "base.html" %}
{% load recipes_extras %}

{% block nav %}
    {% if user.is_authenticated %}
    Hello, {{ user.username }}!
    <a id="anav" href="{% url 'logout' %}">Log Out</a>
    {% else %}
    <a id="anav" href="{% url 'signup' %}">Sign Up</a>
    <a id="anav" href="{% url 'login' %}">Login</a>
    {% endif %}
    <a id="anav" href="{% url 'recipe_list' %}">Main Page</a>
    {% if user.is_authenticated %}
    <a id="anav" href="{% url 'my_recipe_list' %}">My Recipes</a>
    <a id="anav" href="{% url 'create_recipe' %}">Create</a>
    {% endif %}
{% endblock nav %}

{% block content %}
    <h1>
        Scrumptious Recipes
    </h1>
    <h2>
        All The Food That's Fit to Eat:
    </h2>
    <div id = "main-page-recipe-grid">
        {% for recipe in recipe_list %}
        <div>
            <h3>
                <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
            </h3>
            <img src="{{ recipe.picture }}" alt={{ recipe.title }}>
            <div>
                <p>
                   {{ recipe.rating }} {{ recipe.rating|multiply:"★" }}
                </p>
                <p>
                    {{ recipe.created_on|date:"j F y"}}
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}
