@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);

html {
    font-family: 'manrope';
    font-style: normal;
    font-weight: 400;
    background-color: #FCF8E8;
    height:100%;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    display: table;
}

header {
    height: 1px;
    width: 100%;
    background-color: #94B49F;
    color: black;
    /* position: fixed;
    top: 0; */
    display: table-row;
}

nav {
    border: 1px solid black;
    padding: 16px;
    justify-items: center;
    text-align: center;
}

nav>a {
    margin: 0em 1em 0em 1em;
    font-weight: bold;
    letter-spacing: normal;
}

nav>a:visited {
    color: inherit;
}

nav>a:hover {
    color: #ECB390;
    letter-spacing: normal;
}

#anav {
    color: black
}

a {
    text-decoration: none;
    color: #ECB390;
}

a:visited {
    color: #ECB390;
}

a:hover {
    color:#94B49F;
    font-weight: bolder;
    letter-spacing: 0.5em;
}

main {
    box-sizing: table-row;
    height: auto;
    padding: 16px;
    /* margin: 2em 0em 1em 0em; */
}

h1 {
    color: #ECB390;
    text-shadow: 2px 2px 2px gray;
    letter-spacing: 0.2em;
    justify-items: center;
    align-items: center;
    text-align: center;
}

h2 {
    color: #94B49F;
    text-shadow: 2px 2px 2px gray;
    letter-spacing: 0.2em;
    justify-items: center;
    align-items: center;
    text-align: center;
}

#main-page-recipe-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2;
    justify-items: center;
    align-items: center;
    text-align: center;
}

#detail-page-recipe-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 5%;
}

#detail-page-img {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#detail-page-rating {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#detail-page-description {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#detail-page-ingredients {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#detail-page-ingredients-table {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

#detail-page-prep {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

#detail-page-steps {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#detail-page-steps-list {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#detail-page-edit-button {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 200px;
}

table {
    border: 2px solid black;
}

thead {
    border: 2px solid black;
}

tbody {
    border: 2px solid black;
}

tr {
    border: 2px solid black;
}

.trstripe {
    background-color: #effff5dc;
}

td {
    border: 2px solid black;
}

footer {
    height: 20px;
    width: 100%;
    padding: 24px 24px;
    background-color: #DF7861 ;
    /* position: absolute;
    bottom: auto; */
    color: black;
    text-shadow: 1px 1px 0px gray;
    font-weight: 900;
    display: table-row;
    text-align: center;
    justify-items: center;
    align-items: center;
}

/* #page-container {
    position: relative;
    min-height: 100%;
}

#content-wrap {
    padding-bottom: auto;
} */

#creategrid {
    display: block;
}

#createform {
    justify-content: center;
    align-content: center;
    text-align: center;
}

a.button {
    appearance: button;
    -webkit-appearance: button;
    -moz-appearance: button;
    text-decoration: none;
    color: initial;
}
